body
{
background-image:url("C:\Users\Shrujana\Downloads\backgroundimage.jpg");
background-repeat:no-repeat;
background-size:cover;
}
table
{
margin:auto;text-align:center;font-family:tahoma;
}
h1
{
color:red;text-align:center;font-family:tahoma;
}